<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crab Dynamics</title>
    <link rel="stylesheet" href="../beauty/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/images/logo.png" alt="Crab Dynamics Logo">
        </div>
        <nav>
            <ul>
                <li><a href="../template/index.html"></a>home</li>
                <li><a href="../template/service.html">Services</a></li>
                <li><a href="../template/about.html">About Us</a></li>
                <li><a href="../template/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="headline">
            <h1>Unlocking Data Brilliance: Elevate Your Social Reach with Crab Dynamics!</h1>
            <p>Crab Dynamics is a versatile online platform that specializes in providing comprehensive solutions for data analysis, social media strategies, and professional editing services. Whether you're navigating complex datasets, crafting impactful social media campaigns, or refining content through expert editing, Crab Dynamics offers tailored tools and insights to optimize your projects effectively.</p>
        </section>
        <aside class="image">
            <img src="../images/img.png" alt="Innovative Robot Holding Light Bulb">
        </aside>
    </main>
    <script src="scripts.js"></script>
</body>
</html>
