<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="../beauty/project.css">
    <!-- Include any additional stylesheets or scripts here -->
</head>
<body>
    <div class="container">
        <div class="image-info">
            <h1>Sbi Churn Prediction</h1>
            <button id="redirectButton">GitHub</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus excepturi possimus deserunt. Ipsa necessitatibus saepe adipisci minus tenetur. Aliquam cumque fugit deserunt minima necessitatibus soluta ipsam inventore distinctio, quibusdam laborum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique consequatur beatae maiores nisi repellat animi, sunt nostrum quaerat recusandae corrupti assumenda est porro libero voluptate, nesciunt natus! In, fugiat expedita!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore non illo autem minus delectus voluptate vero at eius sit. Mollitia totam culpa magni eaque doloribus eos minima aliquid debitis nesciunt!</p>
        </div>
        <div class="image-container">
            <img src="../images/Project1.jpg" alt="Project Image" class="project-image">
        </div>
    </div>
    <div class="container">
        <div class="image-info">
            <h1>Project Title :)</h1>
            <button id="redirectButton">GitHub</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, illo! Dolore doloribus mollitia qui deserunt assumenda. Eaque quisquam dolores voluptatibus, similique ipsam dolorem neque id vel, rem, deserunt at hic! </p>
        </div>
        <div class="image-container">
            <img src="../images/img.png" alt="Project Image" class="project-image">
        </div>
    </div>
     
    <!-- Include any additional scripts here -->
</body>
</html>
