/* General Enhancements */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-smooth: antialiased; /* Smooth font rendering */
}


.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* Image Info Section */
.image-info {
    flex: 1;
    padding: 20px;   
}

/* Image Container Section */
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 60%;
    border: 2px solid #ebebeb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft box shadow */
    border-radius: 5px;
    
}

